.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: blue;
	color: yellow;
}
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: green;
    color: orange;
}
#thehead {
	margin-top: 55px;
	margin-left: 640px;
	display: inline-block;
	position: relative;
	margin-right: 0px;
	margin-bottom: 0px;
	visibility: visible;
}
img {
	height: auto;
	width: auto;
	max-width: 300px;
	max-height: 300px;
	margin-right: 5px;
	display: block;
	margin-top: -30px;
	margin-top: 10px;
}
body {
	background-color: #ffff00;
}
p {
	margin-top: 50px;
	color: blue;
}
footer {
	position: fixed;
	float: left;
	bottom: 0px;
	visibility: visible;
	display: inline;
	left: 0px;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
	body{
		background-color: yellow;
	}
	p {
		margin-top: 230px;
		color: green;
	}
	img {
		height: auto;
		width: auto;
		max-width: 500px;
		max-height: 500px;
		margin-right: 5px;
		display: block;
		margin-top: -30px;
		margin-top: 10px;
	}
	#thehead {
		margin-top: -155px ;
		margin-left: 80px;
		display: inline;
		position: absolute;
		margin-right: 0px;
		margin-bottom: 0px;
		visibility: visible;
	}
	footer {
		position: absolute;
		float: left;
		bottom: -210px;
		visibility: visible;
		display: inline;
		left: -0px;
		right: 0px;
	}
	iframe {
		padding-bottom: 30px;
	}
}