{% extends "templates/base.html" %}
{% block title %}
	<img src = "static/Contact me.png" alt = "header1" id = "thehead">
{%endblock%}
{% block tab %}
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
	   <div class="navbar-header">
	       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="./index.html">Matt Kim</a>
	   </div>
	   <div class = "collapse navbar-collapse" id="navigationbar">
	    <ul class="nav navbar-nav">
	      <li><a href="/index">Home</a></li>
	      <li><a href="/dog">Dog</a></li>
	      <li><a href="/login">Login</a></li> 
	      <li class="active"><a href="/contactme">Contact me</a></li> 
	    </ul>
	    </div>
  </div>
</nav>
{%endblock%}
{% block content %} 
	<p>If you would like to contact me, please fill out the form below. </p>
	<br>
	<form method="post" action="/">
	<p>Enter your first name: <input type="text" name="firstname"/></p>
	<p>Enter your last name: <input type="text" name="lastname"/></p>
	<p>Enter the message you would like to send: <input type="text" name ="message"/></p>
	<p><input type="submit"></p>
	</form>


{%endblock%}