{% extends "templates/base.html" %}
{% block title %}
	<img src = "static/Dog.png" alt = "header1" id = "thehead">
{%endblock%}
{% block tab %}
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
	   <div class="navbar-header">
	       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="./index.html">Matt Kim</a>
	   </div>
	   <div class = "collapse navbar-collapse" id="navigationbar">
	    <ul class="nav nav-pills">
	      <li><a href="/index">Home</a></li>
	      <li class="active"><a href="/dog">Dog</a></li>
	      <li><a href="/login">Login</a></li> 
	      <li><a href="/food">Food</a></li> 
	    </ul>
	    </div>
  </div>
</nav>
{%endblock%}
{% block content %} 
	<p>One of my favorite things to do back home in West Bloomfield is to take pictures of my dog Bella. She was born on October 6th in the year 2006. </p>
	<img src = "static/bella.jpg" alt = "Bella" width = "1080" height = "720">
	<br>
	<img src = "static/bella2.jpg" alt = "Bella2" width = "1080" height = "720">
	<br>	
	<img src = "static/bella3.jpg" alt = "Bella3" width = "1080" height = "720">
	<br>
	<img src = "static/bella4.jpg" alt = "Bella4" width = "1080" height = "720">
	<br>
	<img src = "static/bella5.jpg" alt = "Bella5" width = "1080" height = "720">
	<br>
	<img src = "static/bella6.jpg" alt = "Bella6" width = "1080" height = "720">
	<br>
	<img src = "static/bella7.jpg" alt = "Bella7" width = "1080" height = "720">
	<br>
	<img src = "static/bella8.jpg" alt = "Bella8" width = "1080" height = "720">
	<br>
	<img src = "static/bella9.jpg" alt = "Bella9" width = "1080" height = "720">
	<br>
{%endblock%}