{% extends "templates/base.html" %}
{% block title %}
	<img src = "static/Home.png" alt = "header1" id = "thehead">
{%endblock%}
{% block tab %}
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
	   <div class="navbar-header">
	       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="./index.html">Matt Kim</a>
	   </div>
	   <div class = "collapse navbar-collapse" id="navigationbar">
	    <ul class="nav nav-pills">
	      <li class="active"><a href="/index">Home</a></li>
	      <li><a href="/dog">Dog</a></li>
	      <li><a href="/login">Login</a></li> 
	      <li><a href="/contactme">Contact me</a></li> 
	    </ul>
	    </div>
  </div>
</nav>
{%endblock%}
{% block content %} 
	<p>My name is Matthew Kim and I am a junior at the University of Michigan. I transferred from Michigan State University in January of 2015. I am currently majoring in data science. In terms of technical skills, I am well versed in C++ and Python. I also have some experience with APIs. In terms of other skills, I have experience in customer service and teaching. Last summer, I taught high school students basic Geometry, Algebra, and Algebra 2. A fun personal fact about me is that one of my favorite bands is the Foo Fighters. Their song Everlong, from their 1995 debut album, is one of my all time favorites. I have their music video from YouTube posted below. </p>
	<div container>
	<div class = "row">
	<div class="col-sm-6">	<iframe width="420" height="315" src="https://www.youtube.com/embed/eBG7P-K-r1Y?autoplay=1" frameborder="0" allowfullscreen></iframe></div>
    <div class="col-sm-6"><TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3> 
	<TR>
	<TD COLSPAN="7" ALIGN=center><B>April 2016</B></TD> 
	</TR>
	<TR> 
	<TD COLSPAN="7" ALIGN=center><I></I></TD>
	</TR>
	<TR> 
	<TD ALIGN=center>Sun</TD>
	<TD ALIGN=center>Mon</TD>
	<TD ALIGN=center>Tue</TD>
	<TD ALIGN=center>Wed</TD>
	<TD ALIGN=center>Thu</TD>
	<TD ALIGN=center>Fri</TD>
	<TD ALIGN=center>Sat</TD>
	</TR>
	<TR> 
	<TD ALIGN=center></TD>
	<TD ALIGN=center></TD>
	<TD ALIGN=center></TD>
	<TD ALIGN=center></TD>
	<TD ALIGN=center></TD>
	<TD ALIGN=center>1</TD>
	<TD ALIGN=center>2</TD>
	</TR>
	<TR> 
	<TD ALIGN=center>3</TD>
	<TD ALIGN=center>4</TD>
	<TD ALIGN=center>5</TD>
	<TD ALIGN=center>6</TD>
	<TD ALIGN=center>7</TD>
	<TD ALIGN=center>8</TD>
	<TD ALIGN=center>9</TD>
	</TR>
	<TR> 
	<TD ALIGN=center>10</TD>
	<TD ALIGN=center>11</TD>
	<TD ALIGN=center>12</TD>
	<TD ALIGN=center>13</TD>
	<TD ALIGN=center>14</TD>
	<TD ALIGN=center>15</TD>
	<TD ALIGN=center>16</TD>
	</TR>
	<TR> 
	<TD ALIGN=center>17</TD>
	<TD ALIGN=center>18</TD>
	<TD ALIGN=center>19</TD>
	<TD ALIGN=center>20</TD>
	<TD ALIGN=center>21</TD>
	<TD ALIGN=center>22</TD>
	<TD ALIGN=center>23</TD>
	</TR>
	<TR> 
	<TD ALIGN=center>24</TD>
	<TD ALIGN=center>25</TD>
	<TD ALIGN=center>26</TD>
	<TD ALIGN=center>27</TD>
	<TD ALIGN=center>28</TD>
	<TD ALIGN=center>29</TD>
	<TD ALIGN=center>30</TD>
	</TR>
	</TABLE></div>
	</div>
	</div>
{%endblock%}