{%extends "templates/base.html" %}
{% block title %}
	<img src = "static/Login.png" alt = "header1" id = "thehead">
{%endblock%}
{% block tab %}
<nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
	   <div class="navbar-header">
	       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
	           <span class="sr-only">Toggle navigation</span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="./index">Matt Kim</a>
	   </div>
	   <div class = "collapse navbar-collapse" id="navigationbar">
	    <ul class="nav nav-pills nav-justified">
	      <li><a href="/index">Home</a></li>
	      <li><a href="/dog">Dog</a></li>
	      <li class="active"><a href="/login">Login</a></li> 
	      <li><a href="/contactme">Contact me</a></li> 
	      <li><a href="/resume">Resume</a></li>
	    </ul>
	    </div>
  </div>
  </nav>
{%endblock%}
{% block content %}
	<p id = "first"> ATTENTION: IF YOU ARE NOT THE ADMINSTRATOR OF THIS WEBSITE, BE GONE! </p>
	{%if title == "bad"%}
	<p id = "second"> Bad Credentials. Try again. </p>
	{%endif%}
	<form method="POST" action="/login">
	<label>username:</label><input type="text" name="username">
	<label>password:</label><input type="password" name="password">
	<input type="submit" value="login">
	</form>
	{% endblock %}